nav {
    background-color: #9fc7e4;
}
footer{
    /* background-color: #e3f2fd !important; */
    background-color: #9fc7e4fd !important;
}

/* body {
    background-color:  hsl(0, 0%, 93%);
} */



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #e3f2fd !important;
    color: hsl(0, 0%, 30%) !important;
    border: 1px solid hsl(0, 0%, 60%);
}